* {
  cursor: url("/static/assets/cursor2.gif"), default;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Calibri, sans-serif;
  background-image: url("/static/assets/leaf-flipped-x.gif");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  background-color: #d2738a;
  color: #c1b492;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html {
    position: relative;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.background-wrap {
  position: fixed;
  z-index: -1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

.content {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.content h1 {
  text-align: center;
  font-size: 65px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  padding-top: 15%;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #c1b492;
}

.content p {
  text-align: center;
  font-size: 15px;
  letter-spacing: 3px;
  color: #aaa;
}

.btn {
  background-color: transparent;
  border: none;
  color: white;
  padding: 6px 15px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.btn:hover {
  background-color: #000000;
  color: white;
}

.coolFuckingText {
  background-color: transparent;
  border: none;
  color: white;
  padding: 6px 15px;
  font-size: 15px;
  font-family: "courier new", Times, serif;
  margin: 4px 2px;
  opacity: 1;
  /* positionL absolute; */
  bottom: 1em;
  text-align: left;
  transition: 0.3s;
}

.btnV {
  background-color: transparent;
  border: none;
  color: white;
  padding: 6px 15px;
  font-size: 15px;
  font-family: "courier new", Times, serif;
  margin: 4px 2px;
  opacity: 1;
  /* positionL absolute; */
  bottom: 1em;
  text-align: left;
  transition: 0.3s;
}

.VText {
  background-color: transparent;
  border: none;
  color: white;
  padding: 6px 15px;
  font-size: 15px;
  font-family: "courier new", Times, serif;
  margin: 4px 2px;
  opacity: 1;
  /* positionL absolute; */
  bottom: 1em;
  text-align: left;
  transition: 0.3s;
}

.btnH {
  background-color: transparent;
  border: none;
  color: white;
  padding: 6px 15px;
  font-size: 35px;
  margin: 4px 2px;
  opacity: 1;
  /* positionL absolute; */
  bottom: 1em;
  text-align: left;
  transition: 0.3s;
}

.btnV:hover {
  background-color: rgba(65, 79, 121, 1);
  color: white;
}

.flash {
  animation-name: flash;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
