<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex" />
    <meta property="og:title" content="PSX" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cdn.mooshi.ml" />
    <meta property="og:image" content="/static/assets/rhea.png" />
    <meta name="theme-color" content="#ffc3fb" />
    <meta property="og:site_name" content="cdn.mooshi.ml" />
    <title>cdn.mooshi.ml</title>
    <link rel="stylesheet" href="/static/css/fatcock.css" />
    <link rel="stylesheet" href="/static/css/wtf.css" />
    <link rel="icon" href="/static/assets/rhea.png" />
  </head>

  <body>
    <ul class="directory-list">
      <li class="folder">
        <button class="btnV">
          <a href="/" style="color: #d2738a">HOME</a>
        </button>
        <ul>
          <li class="folder">
            <button class="btnV">
              <p href="/" style="color: #d2738a">DISCORD</p>
            </button>
            <ul>
              <li>
                <button class="btnV">
                  <a href="auth/login" style="color: #d2738a">LOGIN</a>
                </button>
              </li>
              <li>
                <button class="btnV">
                  <a href="auth/logout" style="color: #d2738a">LOGOUT</a>
                </button>
              </li>
            </ul>
          </li>

          <li class="folder">
            <button class="btnV">
              <p href="/" style="color: #d2738a">UPLOAD</p>
            </button>
            <ul>
              <li>
                <button class="btnV">
                  <label for="file-input" style="color: #d2738a"
                    ><span id="file-input-select">SELECT FILE</span></label
                  >
                </button>

                <input
                  type="file"
                  name="file-input"
                  id="file-input"
                  style="color: #d2738a"
                  hidden
                />
              </li>
              <li>
                <button class="btnV">
                  <a id="btn_upload" style="color: #d2738a">SUBMIT</a>
                </button>
              </li>
            </ul>
          </li>

          <li class="folder">
            <button class="btnV">
              <a style="color: #d2738a">FILES</a>
            </button>
            <ul id="files_ul"></ul>
          </li>
        </ul>
      </li>
    </ul>
    <script src="/static/scripts/index.js"></script>
  </body>
</html>
