<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex" />
    <meta property="og:title" content="PSX" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cdn.mooshi.ml" />
    <meta property="og:image" content="/static/assets/rhea.png" />
    <meta name="theme-color" content="#ffc3fb" />
    <meta property="og:site_name" content="cdn.mooshi.ml" />
    <title>cdn.mooshi.ml</title>
    <link rel="stylesheet" href="/static/css/fatcock.css" />
    <link rel="stylesheet" href="/static/css/wtf.css" />
    <link rel="icon" href="/static/assets/rhea.png" />
  </head>

  <body>
    <ul class="directory-list">
      <li class="folder">
        <button class="btnV">
          <a href="/" style="color: #d2738a">HOME</a>
        </button>
        <ul>
          <li class="folder">
            <button class="btnV">
              <p href="/" style="color: #d2738a">DISCORD</p>
            </button>
            <ul>
              <li>
                <button class="btnV">
                  <a href="auth/login" style="color: #d2738a">LOGIN</a>
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </body>
</html>
